.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.left, .middle, .right {
    padding: 0 10px;
}

.left {
    grid-column: 1 / span 1;
}

.middle {
    grid-column: 2 / span 1;
}

.right {
    grid-column: 3 / span 1;
}
